In [1]:
import pickle
with open('data.kpl','rb') as file:
    train_data=pickle.load(file)

In [2]:
train_data

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,CustomerFull Name,order_year,order_month,order_week_day,order_hour,order_month_year
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,327.750000,0,2/3/2018 22:56,Standard Class,CallyHolloway,2018,1,2,22,2018-01
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,327.750000,0,1/18/2018 12:27,Standard Class,IreneLuna,2018,1,5,12,2018-01
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,327.750000,0,1/17/2018 12:06,Standard Class,GillianMaldonado,2018,1,5,12,2018-01
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,327.750000,0,1/16/2018 11:45,Standard Class,TanaTate,2018,1,5,11,2018-01
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,327.750000,0,1/15/2018 11:24,Standard Class,OrliHendricks,2018,1,5,11,2018-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,399.980011,0,1/20/2016 3:40,Standard Class,MariaPeterson,2016,1,5,3,2016-01
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,399.980011,0,1/19/2016 1:34,Second Class,RonaldClark,2016,1,5,1,2016-01
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,399.980011,0,1/20/2016 21:00,Standard Class,JohnSmith,2016,1,4,21,2016-01
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,399.980011,0,1/18/2016 20:18,Standard Class,MarySmith,2016,1,4,20,2016-01
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,399.980011,0,1/19/2016 18:54,Standard Class,AndreaOrtega,2016,1,4,18,2016-01

In [3]:
import numpy as np
train_data['fraud']=np.where(train_data['Order Status']=='SUSPECTED_FRAUD',1,0)

In [4]:
train_data['fraud']

0         0
1         0
2         0
3         0
4         0
         ..
180514    0
180515    0
180516    0
180517    0
180518    0
Name: fraud, Length: 180519, dtype: int64

In [5]:
train_data['fraud'].sum()

4062

In [6]:
train_data['Delivery Status'].value_counts()

Late delivery        98977
Advance shipping     41592
Shipping on time     32196
Shipping canceled     7754
Name: Delivery Status, dtype: int64

In [7]:
train_data['late_delivery']=np.where(train_data['Delivery Status']=='Late delivery',1,0)

In [8]:
train_data['late_delivery']

0         0
1         1
2         0
3         0
4         0
         ..
180514    0
180515    1
180516    1
180517    0
180518    0
Name: late_delivery, Length: 180519, dtype: int64

In [9]:
categorical_cols=train_data.select_dtypes(include='object').columns
categorical_cols

Index(['Type', 'Delivery Status', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Department Name', 'Market',
       'Order City', 'Order Country', 'Order Region', 'Order State',
       'Order Status', 'Product Image', 'Product Name',
       'shipping date (DateOrders)', 'Shipping Mode', 'CustomerFull Name'],
      dtype='object')

In [10]:
train_data.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode',
       'CustomerFull Name', 'order_year', 'order_month', 'order_week_day',
       'order_hour', 'order_month_year', 'fraud', 'late_delivery'],
      dtype='object')

In [11]:
train_data.drop(['Customer Email','Customer Password','Product Description','Product Status','Product Image','Customer Lname','Customer Fname'],axis=1,inplace=True)

In [12]:
len(train_data.columns)

54

In [13]:
#根据热力图继续删除字段
train_data.drop(['Order Customer Id','Order Item Cardprod Id','Order Item Id','Order Item Total','Order Profit Per Order','Product Card Id','order_month_year','Product Category Id','Product Price'],axis=1,inplace=True)

In [14]:
len(train_data.columns)

45

In [15]:
import pandas as pd
pd.set_option('display.max_columns',None)
train_data

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,order date (DateOrders),Order Id,Order Item Discount,Order Item Discount Rate,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Region,Order State,Order Status,Order Zipcode,Product Name,shipping date (DateOrders),Shipping Mode,CustomerFull Name,order_year,order_month,order_week_day,order_hour,fraud,late_delivery
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,20755,Consumer,PR,5365 Noble Nectar Island,725.0,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,2018-01-31 22:56:00,77202,13.110000,0.04,327.750000,0.29,1,327.750000,Southeast Asia,Java Occidental,COMPLETE,0.0,Smart watch,2/3/2018 22:56,Standard Class,CallyHolloway,2018,1,2,22,0,0
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,Puerto Rico,19492,Consumer,PR,2679 Rustic Loop,725.0,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,2018-01-13 12:27:00,75939,16.389999,0.05,327.750000,-0.80,1,327.750000,South Asia,Rajastán,PENDING,0.0,Smart watch,1/18/2018 12:27,Standard Class,IreneLuna,2018,1,5,12,0,1
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,EE. UU.,19491,Consumer,CA,8510 Round Bear Gate,95125.0,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,2018-01-13 12:06:00,75938,18.030001,0.06,327.750000,-0.80,1,327.750000,South Asia,Rajastán,CLOSED,0.0,Smart watch,1/17/2018 12:06,Standard Class,GillianMaldonado,2018,1,5,12,0,0
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,EE. UU.,19490,Home Office,CA,3200 Amber Bend,90027.0,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,2018-01-13 11:45:00,75937,22.940001,0.07,327.750000,0.08,1,327.750000,Oceania,Queensland,COMPLETE,0.0,Smart watch,1/16/2018 11:45,Standard Class,TanaTate,2018,1,5,11,0,0
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,Puerto Rico,19489,Corporate,PR,8671 Iron Anchor Corners,725.0,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,2018-01-13 11:24:00,75936,29.500000,0.09,327.750000,0.45,1,327.750000,Oceania,Queensland,PENDING_PAYMENT,0.0,Smart watch,1/15/2018 11:24,Standard Class,OrliHendricks,2018,1,5,11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,EE. UU.,1005,Home Office,NY,1322 Broad Glade,11207.0,7,Fan Shop,40.640930,-73.942711,Pacific Asia,Shanghái,China,2016-01-16 03:40:00,26043,0.000000,0.00,399.980011,0.10,1,399.980011,Eastern Asia,Shanghái,CLOSED,0.0,Field & Stream Sportsman 16 Gun Fire Safe,1/20/2016 3:40,Standard Class,MariaPeterson,2016,1,5,3,0,0
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,EE. UU.,9141,Corporate,CA,7330 Broad Apple Moor,93304.0,7,Fan Shop,35.362545,-119.018700,Pacific Asia,Hirakata,Japón,2016-01-16 01:34:00,26037,4.000000,0.01,399.980011,-1.55,1,399.980011,Eastern Asia,Osaka,COMPLETE,0.0,Field & Stream Sportsman 16 Gun Fire Safe,1/19/2016 1:34,Second Class,RonaldClark,2016,1,5,1,0,1
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,EE. UU.,291,Corporate,CT,97 Burning Landing,6010.0,7,Fan Shop,41.629959,-72.967155,Pacific Asia,Adelaide,Australia,2016-01-15 21:00:00,26024,8.000000,0.02,399.980011,0.36,1,399.980011,Oceania,Australia del Sur,PENDING,0.0,Field & Stream Sportsman 16 Gun Fire Safe,1/20/2016 21:00,Standard Class,JohnSmith,2016,1,4,21,0,1
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,Puerto Rico,2813,Consumer,PR,2585 Silent Autumn Landing,725.0,7,Fan Shop,18.213350,-66.370575,Pacific Asia,Adelaide,Australia,2016-01-15 20:18:00,26022,12.000000,0.03,399.980011,0.48,1,399.980011,Oceania,Australia del Sur,PENDING_PAYMENT,0.0,Field & Stream Sportsman 16 Gun Fire Safe,1/18/2016 20:18,Standard Class,MarySmith,2016,1,4,20,0,0
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,Puerto Rico,7547,Consumer,PR,697 Little Meadow,725.0,7,Fan Shop,18.290380,-66.370613,Pacific Asia,Nagercoil,India,2016-01-15 18:54:00,26018,16.000000,0.04,399.980011,0.44,1,399.980011,South Asia,Tamil Nadu,PENDING_PAYMENT,0.0,Field & Stream Sportsman 16 Gun Fire Safe,1/19/2016 18:54,Standard Class,AndreaOrtega,2016,1,4,18,0,0

In [16]:
train_data.drop(['Customer Zipcode'],axis=1,inplace=True)

In [17]:
train_data.drop(['shipping date (DateOrders)','Sales per customer','Latitude','Longitude','Customer Street'],axis=1,inplace=True)

In [18]:
train_data.drop(['order date (DateOrders)'],axis=1,inplace=True)

In [19]:
train_data.drop(['Delivery Status','Late_delivery_risk','Order State'],axis=1,inplace=True)

In [20]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 35 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Category Id                    180519 non-null  int64
 5   Category Name                  180519 non-null  object
 6   Customer City                  180519 non-null  object
 7   Customer Country               180519 non-null  object
 8   Customer Id                    180519 non-null  int64
 9   Customer Segment               180519 non-null  object
 10  Customer State                 180519 non-null  object
 11  Department Id                  180519 non-null  int64
 12  Department Name                180519 non-null  object
 13  Market                         180519 non-null  object
 14  Order City                     180519 non-null  object
 15  Order Country                  180519 non-null  object
 16  Order Id                       180519 non-null  int64
 17  Order Item Discount            180519 non-null  float64
 18  Order Item Discount Rate       180519 non-null  float64
 19  Order Item Product Price       180519 non-null  float64
 20  Order Item Profit Ratio        180519 non-null  float64
 21  Order Item Quantity            180519 non-null  int64
 22  Sales                          180519 non-null  float64
 23  Order Region                   180519 non-null  object
 24  Order Status                   180519 non-null  object
 25  Order Zipcode                  180519 non-null  float64
 26  Product Name                   180519 non-null  object
 27  Shipping Mode                  180519 non-null  object
 28  CustomerFull Name              180511 non-null  object
 29  order_year                     180519 non-null  int64
 30  order_month                    180519 non-null  int64
 31  order_week_day                 180519 non-null  int64
 32  order_hour                     180519 non-null  int64
 33  fraud                          180519 non-null  int64
 34  late_delivery                  180519 non-null  int64
dtypes: float64(7), int64(13), object(15)
memory usage: 48.2+ MB

In [21]:
categorical_cols=train_data.select_dtypes(include='object').columns
categorical_cols

Index(['Type', 'Category Name', 'Customer City', 'Customer Country',
       'Customer Segment', 'Customer State', 'Department Name', 'Market',
       'Order City', 'Order Country', 'Order Region', 'Order Status',
       'Product Name', 'Shipping Mode', 'CustomerFull Name'],
      dtype='object')

In [22]:
train_data=train_data.dropna(subset=['CustomerFull Name'])

In [23]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [24]:
for cat in categorical_cols:
    train_data[cat]=le.fit_transform(train_data[cat])
train_data[categorical_cols]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Type,Category Name,Customer City,Customer Country,Customer Segment,Customer State,Department Name,Market,Order City,Order Country,Order Region,Order Status,Product Name,Shipping Mode,CustomerFull Name
0,1,40,66,1,0,36,4,3,331,70,15,2,78,3,1875
1,3,40,66,1,0,36,4,3,391,69,13,5,78,3,5374
2,0,40,452,0,0,5,4,3,391,69,13,1,78,3,4426
3,1,40,285,0,2,5,4,3,3226,8,11,2,78,3,12922
4,2,40,66,1,1,36,4,3,3226,8,11,6,78,3,10632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,18,59,0,2,31,3,3,2922,31,7,1,24,3,8421
180515,1,18,26,0,1,5,3,3,1362,77,7,2,24,2,11672
180516,3,18,55,0,1,7,3,3,25,8,11,5,24,3,6296
180517,2,18,66,1,0,36,3,3,25,8,11,6,24,3,9379
180518,2,18,66,1,0,36,3,3,2203,69,13,6,24,3,658

In [25]:
#得到所有的数值类型
numerical_cols=train_data.columns.tolist()
for x in categorical_cols.tolist():
    numerical_cols.remove(x)
numerical_cols

['Days for shipping (real)',
 'Days for shipment (scheduled)',
 'Benefit per order',
 'Category Id',
 'Customer Id',
 'Department Id',
 'Order Id',
 'Order Item Discount',
 'Order Item Discount Rate',
 'Order Item Product Price',
 'Order Item Profit Ratio',
 'Order Item Quantity',
 'Sales',
 'Order Zipcode',
 'order_year',
 'order_month',
 'order_week_day',
 'order_hour',
 'fraud',
 'late_delivery']

In [26]:
x_fraud=train_data.loc[:,train_data.columns!='fraud']
y_fraud=train_data['fraud']
x_fraud

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Department Id,Department Name,Market,Order City,Order Country,Order Id,Order Item Discount,Order Item Discount Rate,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Region,Order Status,Order Zipcode,Product Name,Shipping Mode,CustomerFull Name,order_year,order_month,order_week_day,order_hour,late_delivery
0,1,3,4,91.250000,73,40,66,1,20755,0,36,2,4,3,331,70,77202,13.110000,0.04,327.750000,0.29,1,327.750000,15,2,0.0,78,3,1875,2018,1,2,22,0
1,3,5,4,-249.089996,73,40,66,1,19492,0,36,2,4,3,391,69,75939,16.389999,0.05,327.750000,-0.80,1,327.750000,13,5,0.0,78,3,5374,2018,1,5,12,1
2,0,4,4,-247.779999,73,40,452,0,19491,0,5,2,4,3,391,69,75938,18.030001,0.06,327.750000,-0.80,1,327.750000,13,1,0.0,78,3,4426,2018,1,5,12,0
3,1,3,4,22.860001,73,40,285,0,19490,2,5,2,4,3,3226,8,75937,22.940001,0.07,327.750000,0.08,1,327.750000,11,2,0.0,78,3,12922,2018,1,5,11,0
4,2,2,4,134.210007,73,40,66,1,19489,1,36,2,4,3,3226,8,75936,29.500000,0.09,327.750000,0.45,1,327.750000,11,6,0.0,78,3,10632,2018,1,5,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,4,4,40.000000,45,18,59,0,1005,2,31,7,3,3,2922,31,26043,0.000000,0.00,399.980011,0.10,1,399.980011,7,1,0.0,24,3,8421,2016,1,5,3,0
180515,1,3,2,-613.770019,45,18,26,0,9141,1,5,7,3,3,1362,77,26037,4.000000,0.01,399.980011,-1.55,1,399.980011,7,2,0.0,24,2,11672,2016,1,5,1,1
180516,3,5,4,141.110001,45,18,55,0,291,1,7,7,3,3,25,8,26024,8.000000,0.02,399.980011,0.36,1,399.980011,11,5,0.0,24,3,6296,2016,1,4,21,1
180517,2,3,4,186.229996,45,18,66,1,2813,0,36,7,3,3,25,8,26022,12.000000,0.03,399.980011,0.48,1,399.980011,11,6,0.0,24,3,9379,2016,1,4,20,0
180518,2,4,4,168.949997,45,18,66,1,7547,0,36,7,3,3,2203,69,26018,16.000000,0.04,399.980011,0.44,1,399.980011,13,6,0.0,24,3,658,2016,1,4,18,0

In [27]:
x_fraud.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180511 entries, 0 to 180518
Data columns (total 34 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180511 non-null  int64
 1   Days for shipping (real)       180511 non-null  int64
 2   Days for shipment (scheduled)  180511 non-null  int64
 3   Benefit per order              180511 non-null  float64
 4   Category Id                    180511 non-null  int64
 5   Category Name                  180511 non-null  int64
 6   Customer City                  180511 non-null  int64
 7   Customer Country               180511 non-null  int64
 8   Customer Id                    180511 non-null  int64
 9   Customer Segment               180511 non-null  int64
 10  Customer State                 180511 non-null  int64
 11  Department Id                  180511 non-null  int64
 12  Department Name                180511 non-null  int64
 13  Market                         180511 non-null  int64
 14  Order City                     180511 non-null  int64
 15  Order Country                  180511 non-null  int64
 16  Order Id                       180511 non-null  int64
 17  Order Item Discount            180511 non-null  float64
 18  Order Item Discount Rate       180511 non-null  float64
 19  Order Item Product Price       180511 non-null  float64
 20  Order Item Profit Ratio        180511 non-null  float64
 21  Order Item Quantity            180511 non-null  int64
 22  Sales                          180511 non-null  float64
 23  Order Region                   180511 non-null  int64
 24  Order Status                   180511 non-null  int64
 25  Order Zipcode                  180511 non-null  float64
 26  Product Name                   180511 non-null  int64
 27  Shipping Mode                  180511 non-null  int64
 28  CustomerFull Name              180511 non-null  int64
 29  order_year                     180511 non-null  int64
 30  order_month                    180511 non-null  int64
 31  order_week_day                 180511 non-null  int64
 32  order_hour                     180511 non-null  int64
 33  late_delivery                  180511 non-null  int64
dtypes: float64(7), int64(27)
memory usage: 48.2 MB

In [28]:
y_fraud

0         0
1         0
2         0
3         0
4         0
         ..
180514    0
180515    0
180516    0
180517    0
180518    0
Name: fraud, Length: 180511, dtype: int64

In [29]:
x_late=train_data.loc[:,train_data.columns!='late_delivery']
y_late=train_data['late_delivery']
x_late

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Department Id,Department Name,Market,Order City,Order Country,Order Id,Order Item Discount,Order Item Discount Rate,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Region,Order Status,Order Zipcode,Product Name,Shipping Mode,CustomerFull Name,order_year,order_month,order_week_day,order_hour,fraud
0,1,3,4,91.250000,73,40,66,1,20755,0,36,2,4,3,331,70,77202,13.110000,0.04,327.750000,0.29,1,327.750000,15,2,0.0,78,3,1875,2018,1,2,22,0
1,3,5,4,-249.089996,73,40,66,1,19492,0,36,2,4,3,391,69,75939,16.389999,0.05,327.750000,-0.80,1,327.750000,13,5,0.0,78,3,5374,2018,1,5,12,0
2,0,4,4,-247.779999,73,40,452,0,19491,0,5,2,4,3,391,69,75938,18.030001,0.06,327.750000,-0.80,1,327.750000,13,1,0.0,78,3,4426,2018,1,5,12,0
3,1,3,4,22.860001,73,40,285,0,19490,2,5,2,4,3,3226,8,75937,22.940001,0.07,327.750000,0.08,1,327.750000,11,2,0.0,78,3,12922,2018,1,5,11,0
4,2,2,4,134.210007,73,40,66,1,19489,1,36,2,4,3,3226,8,75936,29.500000,0.09,327.750000,0.45,1,327.750000,11,6,0.0,78,3,10632,2018,1,5,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,4,4,40.000000,45,18,59,0,1005,2,31,7,3,3,2922,31,26043,0.000000,0.00,399.980011,0.10,1,399.980011,7,1,0.0,24,3,8421,2016,1,5,3,0
180515,1,3,2,-613.770019,45,18,26,0,9141,1,5,7,3,3,1362,77,26037,4.000000,0.01,399.980011,-1.55,1,399.980011,7,2,0.0,24,2,11672,2016,1,5,1,0
180516,3,5,4,141.110001,45,18,55,0,291,1,7,7,3,3,25,8,26024,8.000000,0.02,399.980011,0.36,1,399.980011,11,5,0.0,24,3,6296,2016,1,4,21,0
180517,2,3,4,186.229996,45,18,66,1,2813,0,36,7,3,3,25,8,26022,12.000000,0.03,399.980011,0.48,1,399.980011,11,6,0.0,24,3,9379,2016,1,4,20,0
180518,2,4,4,168.949997,45,18,66,1,7547,0,36,7,3,3,2203,69,26018,16.000000,0.04,399.980011,0.44,1,399.980011,13,6,0.0,24,3,658,2016,1,4,18,0

In [30]:
y_late

0         0
1         1
2         0
3         0
4         0
         ..
180514    0
180515    1
180516    1
180517    0
180518    0
Name: late_delivery, Length: 180511, dtype: int64

In [31]:
#数据集切分
from sklearn.model_selection import train_test_split
x_fraud_train,x_fraud_test,y_fraud_train,y_fraud_test=train_test_split(x_fraud,y_fraud,test_size=0.2)
x_late_train,x_late_test,y_late_train,y_late_test=train_test_split(x_late,y_late,test_size=0.2)

In [32]:
x_fraud_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144408 entries, 163721 to 33294
Data columns (total 34 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           144408 non-null  int64
 1   Days for shipping (real)       144408 non-null  int64
 2   Days for shipment (scheduled)  144408 non-null  int64
 3   Benefit per order              144408 non-null  float64
 4   Category Id                    144408 non-null  int64
 5   Category Name                  144408 non-null  int64
 6   Customer City                  144408 non-null  int64
 7   Customer Country               144408 non-null  int64
 8   Customer Id                    144408 non-null  int64
 9   Customer Segment               144408 non-null  int64
 10  Customer State                 144408 non-null  int64
 11  Department Id                  144408 non-null  int64
 12  Department Name                144408 non-null  int64
 13  Market                         144408 non-null  int64
 14  Order City                     144408 non-null  int64
 15  Order Country                  144408 non-null  int64
 16  Order Id                       144408 non-null  int64
 17  Order Item Discount            144408 non-null  float64
 18  Order Item Discount Rate       144408 non-null  float64
 19  Order Item Product Price       144408 non-null  float64
 20  Order Item Profit Ratio        144408 non-null  float64
 21  Order Item Quantity            144408 non-null  int64
 22  Sales                          144408 non-null  float64
 23  Order Region                   144408 non-null  int64
 24  Order Status                   144408 non-null  int64
 25  Order Zipcode                  144408 non-null  float64
 26  Product Name                   144408 non-null  int64
 27  Shipping Mode                  144408 non-null  int64
 28  CustomerFull Name              144408 non-null  int64
 29  order_year                     144408 non-null  int64
 30  order_month                    144408 non-null  int64
 31  order_week_day                 144408 non-null  int64
 32  order_hour                     144408 non-null  int64
 33  late_delivery                  144408 non-null  int64
dtypes: float64(7), int64(27)
memory usage: 38.6 MB

In [33]:
#数据规范化
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [34]:
x_fraud_train=sc.fit_transform(x_fraud_train)
x_fraud_test=sc.transform(x_fraud_test)
x_late_train=sc.fit_transform(x_late_train)
x_late_test=sc.transform(x_late_test)

In [35]:
from sklearn.metrics import accuracy_score,recall_score,roc_auc_score,confusion_matrix,f1_score
def model_stats(model ,x_train, x_test, y_train, y_test, name='Fraud'):
    model=model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    accurancy=accuracy_score(y_pred,y_test)
    recall=recall_score(y_pred,y_test)
    auc=roc_auc_score(y_pred,y_test)
    f1=f1_score(y_pred,y_test)
    confusion=confusion_matrix(y_pred,y_test)
    print('Model use',model)
    print('{} Accurancy : {}%'.format(name,accurancy*100))
    print('{} recall : {}%'.format(name,recall*100))
    print('{} auc : {}%'.format(name,auc*100))
    print('{} f1 : {}%'.format(name,f1*100))
    print('{} confusion : {}'.format(name,confusion*100))
    return accurancy,recall,f1

In [36]:
# 逻辑回归模型
from sklearn.linear_model import LogisticRegression
model_fraud=LogisticRegression()
model_late=LogisticRegression()

In [37]:
model_stats(model_fraud,x_fraud_train,x_fraud_test,y_fraud_train,y_fraud_test,'Fraud')

Model use LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
Fraud Accurancy : 100.0%
Fraud recall : 100.0%
Fraud auc : 100.0%
Fraud f1 : 100.0%
Fraud confusion : [[3526300       0]
 [      0   84000]]

(1.0, 1.0, 1.0)

In [38]:
model_stats(model_late,x_late_train,x_late_test,y_late_train,y_late_test,'Late')

Model use LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
Late Accurancy : 99.86427720688032%
Late recall : 99.75213718448074%
Late auc : 99.87606859224037%
Late f1 : 99.87591481171971%
Late confusion : [[1633400       0]
 [   4900 1972000]]

(0.9986427720688031, 0.9975213718448075, 0.9987591481171971)

In [39]:
x_sales=train_data.loc[:,train_data.columns!='Sales']
y_sales=train_data['Sales']

In [40]:
x_quantity=train_data.loc[:,train_data.columns!='Order Item Quantity']
y_quantity=train_data['Order Item Quantity']

In [41]:
x_sales_train,x_sales_test,y_sales_train,y_sales_test=train_test_split(x_sales,y_sales,test_size=0.2)
x_quantity_train,x_quantity_test,y_quantity_train,y_quantity_test=train_test_split(x_quantity,y_quantity,test_size=0.2)

In [42]:
from sklearn.metrics import mean_absolute_error,mean_squared_error
def refression_model_stats(model,x_train,x_test,y_train,y_test,model_name='Sales'):
    model=model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    print('Model Used',model)
    mae=mean_absolute_error(y_test,y_pred)
    mse=mean_squared_error(y_test,y_pred)
    print('{}MSE{}'.format(model_name,mse))
    print('{}MAE{}'.format(model_name,mae))

In [43]:
from sklearn.linear_model import LinearRegression
model_sales=LinearRegression()
model_quantity=LinearRegression()

In [44]:
refression_model_stats(model_sales,x_sales_train,x_sales_test,y_sales_train,y_sales_test,model_name='Sales')

Model Used LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
SalesMSE942.3249579381661
SalesMAE18.368918260025495

In [45]:
refression_model_stats(model_quantity,x_quantity_train,x_quantity_test,y_quantity_train,y_quantity_test,model_name='Quantity')

Model Used LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
QuantityMSE0.28105477799589795
QuantityMAE0.3476422607464495